<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Página</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="{{ url_for('index') }}">Início</a>
      <a href="{{ url_for('python') }}">Python</a>
      <a href="{{ url_for('poo') }}">POO</a>
    </nav>
    <button class="theme-toggle" onclick="toggleTheme()">Modo Claro/Escuro</button>
  </header>

  <div class="container">
    <h1>Clique em alguns dos links para ser redirecionado</h1>
    <p>Essas páginas foram feitas utilizando Python (com Flask) e HTML</p>
    <p>Até mesmo os links são fornecidos por Python por meio de 'url_for()'!</p>

    <div class="card">
      <p><strong>O que é Python?</strong></p>
      <a href="{{ url_for('python') }}">clique aqui</a>
    </div>

    <div class="card">
      <p><strong>O que é POO?</strong></p>
      <a href="{{ url_for('poo') }}">clique aqui</a>
    </div>
  </div>

  <script>
    function toggleTheme() {
      document.body.classList.toggle('light-mode');
    }
  </script>
</body>
</html>
